    <h1>{{{title}}}</h1>
    <h2 class="searchTerm">{{{searchTerm}}}</h2>
    <main>
        {{#if error}}
        <div class="errorName"> 400 Bad Request</div>
        <p class="error">Please enter a valid keyword to search. You maybe seeing this page because you did not enter anything or just entered space keys</p>
        {{else}}
        {{#if shows}}
        <ul>
            {{#each shows}}
                <li class="list"><a href="/shows/{{id}}">{{name}}</a></li>
            {{/each}}
        </ul>
        {{else}}
            <p class="not-found">We're sorry, but no results were found for '{{{searchTerm}}}'.</p>
        {{/if}}
        {{/if}}
    </main>